//
// Colors HAS green academy
// Paulo van Breugel, 05-07-2023
//

$haslightgreen: #1CD354 !default;
$hasdarkgreen:  #274232 !default;
$haslightblue:  #008AFF !default;
$hasdarkblue:   #163951 !default;
$haslightpink:  #E324BA !default;
$hasdarkpink:   #421B44 !default;
$haslightred:   #ED2B00 !default;
$hasdarkred:    #511A23 !default;

$primary:       $hasdarkblue !default;
$secondary:     $haslightblue !default;
$success:       $haslightgreen !default;
$info:          $haslightpink !default;
$warning:       $hasdarkpink !default;
$danger:        $haslightred !default;
$light:         $haslightblue !default;
$dark:          $hasdarkblue !default;

//
// Text and paragraph elements
//

.reduce_space p {
  margin-bottom: 4px;
}

a {
  color: $haslightblue;
}

.first-rescale {
  color: $haslightblue;
}
.dot1 {
  height: 0.7rem;
  width: 0.7rem;
  background-color: $haslightblue;
  border-radius: 50%;
  display: inline-block;
}
.second-rescale {
  color: #309464;
}
.dot2 {
  height: 0.7rem;
  width: 0.7rem;
  background-color: #309464;
  border-radius: 50%;
  display: inline-block;
}

//
// Storybord
//

.storyboard-nav .sbframelist ul li.active {
  color: #FFFFFF !important;
  background-color: $haslightblue !important;
}

.storyboard-nav .sbframelist ul li {
  color: #FFFFFF !important;
  background-color: $hasdarkblue !important;
}

.slide_frame {
  border: none;
  padding: 2.5rem 5.5rem 2.5rem 4.5rem;
  height: 100%;
}

.slide_frame_tide {
  border: none;
  padding: 2.5rem 4.5rem 2.5rem 4.5rem;
  height: 100%;  
}

.rowp {
  display: block;
}
.columnp {
  flex: 50%;
  padding: 10px;

}

.paddingimage img {
  padding: 4px 2rem 5px 2rem;
}
.paddingpage {
  padding: 2px;
}

.sbframe-commentary {
  width: 50% !important;
}

//
// Dashboard and page elements
//

.navbar-logo {
  margin-top: 0px;
  margin-left: -8px;
  max-height: 36px;
  margin-top:0px;
  margin-bottom: 0px;
}

.btn-default:not(.btn-primary):not(.btn-info):not(.btn-success):not(.btn-warning):not(.btn-danger):not(.btn-dark):not(.btn-outline-primary):not(.btn-outline-info):not(.btn-outline-success):not(.btn-outline-warning):not(.btn-outline-danger):not(.btn-outline-dark) {
  color: #fff;
  background-color: $haslightblue;
  border-color: $haslightblue;
}

.form-group {
  margin-bottom: 0.4rem;
}
label {
  margin-bottom: .25rem;
}

.textbox {
  border: solid;
  border-width: 1px;
  border-color: $haslightblue;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 4px;
}
.selectize-input {
  min-height: calc(1.5em + 0.5rem);
}
.form-control {
  height: 2rem;
}

//
// Floating images
//


  /* For desktop: */
  .floatleft {
  	float:left;
  	width: 50%;
  	height: auto;
  	margin: 2px 20px 2px 2px;
  }
  
  .floatleft40 {
  	float:left;
  	width: 40%;
  	height: auto;
  	margin: 2px 20px 2px 2px;
  }
  
  .floatleft .caption {
  	margin-bottom: 0px;
  }
  
  .floatright {
  	float:right;
  	width: 50%;
  	height: auto;
  	margin: 2px 2px 2px 20px;
  }
  
  .floatright30 {
  	float:right;
  	width: 30%;
  	height: auto;
  	margin: 2px 2px 2px 20px;
  }
  
  .floatright20 {
  	float:right;
  	width: 20%;
  	height: auto;
  	margin: 2px 2px 2px 20px;
  }
